@use 'sass:map';
@use '@my-company-ds/base/build/web/scss/deep-tokens' as ds;
@use '@my-lib/common/styles/mixins' as *;
@use '@my-lib/common/styles/screen-sizes' as *;
@use '@my-company-ds/base/build/web/scss-mixins/theme-g2-light';
@use '@my-company-ds/base/build/web/scss-mixins/theme-g2-dark';
@use '@my-company-ds/core/build/root-tokens-common';
@use '@my-company-ds/core/build/theme-tokens';
@use '@my-company-ds/core/build/root-tokens-typography-v3';
@import '@my-company-ds/core/build/fonts-v3.css';

.my-company-theme-light,
[data-my-company-theme='light'] {
  @include theme-g2-light.vars;
}

.my-company-theme-dark,
[data-my-company-theme='dark'] {
  @include theme-g2-dark.vars;
}

my-lib-story-root {
  display: flex;
}

.story-root {
  box-sizing: border-box;
  width: 100%;
  color: var(--color-text-primary);

  &__container {
    margin: 0 auto;

    @each $_, $options in map.get(ds.$tokens, grid) {
      @media (min-width: map.get($options, breakpoint)) {
        --grid-padding-x: #{map.get($options, margin)};
        padding: 0 var(--grid-padding-x);
        max-width: map.get($options, max-width);
      }
    }
  }
}

#root .story-root {
  min-height: 100vh;
}

#docs-root a[title='Open canvas in new tab'] {
  height: 12px;
}

.sbdocs-content {
  max-width: none;
}

.docblock-argstable-body tr[title] td > span {
  text-transform: none;
  letter-spacing: 1.2px;
  font-size: 13px;
}
